<p id="notice"><%= notice %></p>
<% provide(:title,@profile.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @profile %>
        <%= @profile.name %>
      </h1>
    </section>
  </aside>
</div>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
