<p id="notice"><%= notice %></p>
<% provide(:title,@profile.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="profile_info">
      <h1>
        <%= gravatar_for @profile %>
        <%= @profile.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @profile.posts.any? %>
      <h3>Posts (<%= @profile.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
